/*
 * Base structure
 */

 :root {
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #232B37;
  --gray-900: #16191E;
  --white: #FFFFFF;
  --gray: var(--gray-400);
  --black: #000000;
  --primary: #FF04B4;
  --primary-dark: #1D1B28;
  --contrast: #0062F9;
  --danger: #EF4444;
  --red: #F87171;
  --semi-white: rgba(255, 255, 255, 0.2);
  --semi-primary: rgba(29, 27, 40, .2);
  --semi-primary-strong: rgba(29, 27, 40, .5);
  --spacer: 1rem;
  --size-0: 0.125rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 2rem;
  --size-6: 3rem;
  --size-7: 5rem;
  --size-8: 8rem;
  --size-9: 12rem;
  --content-width: 60rem;
  --font-family-title: 'Space Mono',monospace,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  --font-family-body: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  --font-size-xs: .409rem;
  --font-size-sm: .6875rem;
  --font-size-base: .8125rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 6rem;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --letter-spacing-sm: 0.05em;
  --letter-spacing-lg: 0.2em;
  --line-height-heading: 1.3;
  --line-height-flow: 1.5;
  --text-light: var(--gray);
  --border-color: var(--gray-700);
  --border-color-dark: var(--primary-dark);
  --border: 1px solid var(--border-color);
  --border-dark: 1px solid var(--border-color-dark);
  --border-thick: 3px;
  --border-radius: var(--size-2);
  --border-radius-sm: var(--size-1);
  --shadow: 0px var(--size-1) var(--size-4) rgba(0, 0, 0, 0.25);
  --shadow-primary: 0px var(--size-1) var(--size-4) var(--semi-primary);
  --shadow-primary-lg: 0px var(--size-2) var(--size-5) var(--semi-primary-strong);
  --speed: .3s;
  --speed-fast: .15s;
  --speed-slow: .8s;
}

@font-face {
  font-family: "P1";
  src:  url(../P1.ttf) format('truetype'),
        url(../P1.woff) format('woff');
}

@font-face {
  font-family: "P2";
  src:  url(../P2.ttf) format('truetype'),
        url(../P2.woff) format('woff');
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: var(--font-family-body);
  line-height: 1;
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * One Day Punks
 */

.brand, .brand:hover {
  font-family: var(--font-family-title);
  font-style: italic;
  color: var(--primary);
  text-decoration: none;
  position: relative;
}

.brand span {
  position: relative;
  z-index: 1;
}

.brand svg {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
}

.nav-link {
  font-family: var(--font-family-title);
  font-style: italic;
}

.upper {
  text-transform: uppercase;
}

.superbig {
  font-size: var(--font-size-xxxl);
  font-family: var(--font-family-title);
  font-weight: 700;
  line-height: var(--line-height-heading);
  margin: var(--size-4) 0;
}

@media (max-width: 575.98px) {
  .superbig {
    font-size: var(--font-size-xxl);
    margin: var(--size-3) 0;
  }
  .search {
    margin: 0 0 var(--size-3) 0;
  }
}

.heading {
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-title);
  font-weight: 700;
  font-style: italic;
  line-height: var(--line-height-heading);
  margin: var(--size-4) 0;
}

.search {
  margin: 0 0 var(--size-6) 0;
}

.search fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 40rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.search .search-text-input {
  width: 100%;
  cursor: pointer;
  position: relative;
  color: var(--white);
  background-color: var(--black);
  appearance: none;
  border-radius: var(--size-5);
  border: var(--border);
  padding: var(--size-3) var(--size-4);
  transition: border-color var(--speed);
  letter-spacing: var(--letter-spacing-sm);
  line-height: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.search .search-text-input:focus {
  box-shadow: 0 0 0 1px var(--gray-700);
  z-index: 51;
  border-color: var(--gray);
  outline: 0;
}

.search button {
  z-index: 100;
  -webkit-appearance: button;
  position: absolute;
  padding: var(--size-2);
  top: var(--size-2);
  right: var(--size-3);
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
}

.search footer {
  display: none;
  position: absolute;
  z-index: 51;
  right: var(--size-4);
  border: none;
  padding: var(--size-1);
}

.search .icon {
  width: var(--size-3);
  height: var(--size-3);
  display: block;
  vertical-align: middle;
}

.search select {
  max-width: 20rem;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--size-5);
}

.trait-fileter-btn {
  width: 100%;
  max-width: 20rem;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--size-5);  
}

.trait-fileter-offcanvas {
  background-color: #333; 
  color: var(--white);
}

.punk-avatar {
    width: 100%;
    background-color: #000;
    border-radius: 10px;
    max-height: 280px;
    border:none;
}

.punk-info {
    position: relative;
    font-family: "P1";
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
}

.punk-info svg {
  transition: all var(--speed);
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: -1;
  display: block;
  vertical-align: middle;
}

.punk-info svg.shadow {
  margin-left: -.5rem;
  margin-top: .5rem;
}

a:hover .punk-info svg.shadow {
  margin-top: .325rem;
  margin-left: -.325rem;
  transform: rotate(-9deg) !important; 
}

a:hover .punk-info svg:not(.shadow) {
  margin-top: .125rem;
  margin-left: -.125rem;
  transform: rotate(9deg) !important; 
}

.punk-info span {
    font-size: 1.6rem;
    color: #333;
    text-decoration: none;
}

.punk-description {
  line-height: 1.2rem;
}

.punk-description a {
  text-decoration: none;
  color: var(--primary);
}

.punk-rank {
    color: #FFF;
    font-family: "'P1'";
    font-weight: 700;
    font-size: var(--font-size-lg);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    text-transform: uppercase;
    box-shadow: none;
}

.punk-similar-score {
  color: var(--white); 
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: var(--font-size-md);
}

.page-link {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-title);
  background-color: #000;
  border: 0;
  color: #fff;
}

.page-link:hover, .page-link:focus {
  background-color: var(--primary);
  color: #fff;
}

.page-item.disabled .page-link {
  background-color: #000;
  border: 0;
  color: #fff;
}

.rarity-score-block {
  padding: 10px; 
  background-color: var(--primary); 
  border-radius: 10px;
}

.rarity-score-block h4 {
  font-size: var(--font-size-lg);
}

.rarity-score-sum {
  text-align: center;
  font-size: var(--font-size-xl);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--semi-primary);
}

.trait-type {
  font-size: var(--font-size-md);
}

.trait-type-rarity {
  text-align: right; 
  color: var(--primary); 
  font-size: var(--font-size-lg);
}

.trait-value-block {
  background-color: var(--primary-dark); 
  border-radius: 10px;
  padding: 2px;
}

.trait-value {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--font-size-md);
}

.trait-value-count {
  background-color: var(--gray-300);
  color: var(--black);
  border-radius: 7px;
  text-align: center;
  width: 70px;
  min-width: 70px;
  height: 30px;
  line-height: 30px;
  font-size: var(--font-size-md);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
}

.view-on-block {
  background-color: var(--primary-dark); 
  border-radius: 10px;
  color: var(--white);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-base);
  margin-bottom: 10px;
  height: 50px;
  line-height: 50px;
}

.view-on-icon {
  width: 24px;
  height: 24px;
  position: relative;
  top: -1px;
  left: -2px;
}

.view-on-link, .view-on-link:hover {
  color: var(--white);
  text-decoration: none;
}

.tile {
  width: 135px;
  background-color: var(--primary-dark); 
  border-radius: 10px;
  color: var(--white);
  font-size: var(--font-size-lg);
  margin: 10px;
  overflow: hidden;
  padding: 20px 10px;
}

.tile h5, .tile h4 {
  font-family: var(--font-family-title);
  text-align: center;
}

.tile p {
  font-family: var(--font-family-body);
  text-align: center;
  font-size: var(--font-size-sm);
}

.tile h5 {
  font-size: var(--font-size-base);
}

.tile h4 {
  font-size: var(--font-size-md);
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.pixel-font {
  font-family: "P1";
}

.a-btn{
  margin-bottom: 20px;
}

.b-btn{
  border-radius: var(--size-5);
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  border: none;
}

.t1-btn{
  background: linear-gradient(to right, rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128));
}

.t2-btn{
  background: linear-gradient(to right, rgb(252, 0, 255), rgb(0, 219, 222));
}

.minibig{
  font-size: 3rem;
  color: #ed3c0d;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-top: -2rem;
}

a {
    text-decoration: none;
}

.p-btn {
    color: #fff;
    background-color: #ff0555;
    border-color: #ff0555;
}

.p-btn:hover {
    color: #fff;
    background-color: #d91856;
    border-color: #d91856;
}

.b-row {
    --bs-gutter-x: 10rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -1);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.bg-black {
    background-image: url(/images/bg.png);
    background-color: #000;
    background-repeatï¼šno-repeat;
    background-position: bottom right;
    position: fixed;
}

.m-total {
    font-size: 3rem;
    font-family: "P1";
    font-weight: 700;
    line-height: var(--line-height-heading);
    margin: 3rem 0 0 0;
    color: #fff;
    background: #ff0555;
    position: relative;
    padding: 0 10rem;
}

.m-num{
    margin: 0 auto;
    border: 3px solid #ff0555;
}

.m-minibig {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 700;
    margin-top: -2rem;
}

.mm-minibig {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 700;
    background: linear-gradient(to right, rgb(236, 0, 140), rgb(252, 103, 103));
    padding: 10px 0;
}
